.atto_recordrtc {
    font-weight: normal;
    line-height: 40px;
    padding: 3px 0 3px 0;
}

.atto_recordrtc div {
    font-weight: normal;
    line-height: 40px;
    padding: 3px 0 3px 0;
}

.atto_recordrtc .alert {
    line-height: 10px;
    text-align: center;
}

.atto_recordrtc audio {
    display: block;
    width: 100%;
}

.atto_recordrtc video {
    display: block;
    width: 640px;
    height: 480px;
    margin: 0 auto;
}
